DATABASE_URL=
PORT=5000

# Google Sheets Configuration
SPREADSHEET_ID=17uLgiXTVzIDjP67K9-HzCbiWDOlB3B4LnEZQj8EvArU
GOOGLE_APPLICATION_CREDENTIALS=tough-ivy-484907-p0-aeed033e636c.json

# For Render/Production (Optional but recommended)
# GOOGLE_CREDENTIALS_JSON='{ "type": "service_account", ... }'
